# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environment
.venv/
venv/

# Secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Local data
data/raw/*
data/processed/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep

# VS Code local settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp